body {
    background-image: url("../images/board-2167844_1920.jpg");
    /* Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2167844">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2167844">Pixabay</a> */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

.nav-link {
    color: white;
    font-family: 'Muli', sans-serif;
}

.navborder {
    margin: 20px -18px 20px 0px;
    padding-bottom: 3px;
}

.border {
    background-color:  rgba(0, 0, 0, 0.7);
}

.global-border {
    padding: 10px;

}

a {
    color: white;
}

.nav-link:hover {
    color: grey;
}

a:hover {
    color: grey;
}

#answer {
    display: none;
}

.display-none {
    display: none;
}

.table {
    color: white;
}

img {
    margin: 0px auto 0px auto;
    height: 343px;
    width: 514px;
}

.next-button {
    margin: 0px 400px 0px 400px;
}

#social-image {
    margin: 74px 14px 0px 0px;
}