body {
    background-color: black;
    color: white;
    text-align: center;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}

#answer {
    display: none;
}

.display-none {
    display: none;
}

.table {
    color: white;
}

img {
    margin-left: auto;
    margin-right: auto;
    height: 343px;
    width: 514px;
}