body {
    background-image: url("../images/board-2167844_1920.jpg");
    /* Image by <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2167844">Gerd Altmann</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2167844">Pixabay</a> */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Work Sans', sans-serif;
}

.nav-link {
    color: white;
    font-family: 'Muli', sans-serif;
}

.navborder {
    margin: 20px -18px 20px 0px;
    padding-bottom: 3px;
}

.border {
    background-color:  rgba(0, 0, 0, 0.7);
}

.global-border {
    padding: 10px;

}

a {
    color: white;
}

.nav-link:hover {
    color: grey;
}

a:hover {
    color: grey;
}

#answer {
    display: none;
}

.display-none {
    display: none;
}

.table {
    color: white;
}

img {
    margin: 0px auto 0px auto;
    height: 343px;
    width: 514px;
}

.next-button {
    margin: 0px 400px 0px 400px;
}

#english-image {
    margin: 74px 14px 0px 0px;
}

.question {
    margin-top: 5px;
}

#correct {
    display: none;
    background-color: rgba(3, 100, 3, 0.904);
    color: white;
    border: 5px solid black;
    position: fixed;
    width: 300px;
    height: 158px;
    left: 40%;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 31px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#incorrect {
    display: none;
    background-color: rgba(134, 13, 13, 0.904);
    color: white;
    border: 5px solid black;
    position: fixed;
    width: 300px;
    height: 205px;
    left: 40%;
    top: 40%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media only screen and (max-width: 375px) {
    
    [class*="navborder"] {
        margin-right: 257px;
    }

    img {
        width: 100%;
        height: auto;
    }

    [class*="btn"] {
        width: 200px;
        margin: 13px 0px 12px 76px;
    }

    [class*="next-button"] {
        margin: auto;
    }

    [id*="correct"] {
        margin-left: -113px;
    }

    [class*="ok"] {
        margin-left: 0px;
        margin-top: -3px;
    }

    [class*="wolf-pic"] {
        margin-top: -28px;
    }

    [class*="navbox"] {
        margin-left: 130px;
    }

}

@media only screen and (max-width: 414px) {
    
    [class*="navborder"] {
        margin-right: 257px;
    }

    [class*="navbar"] {
        margin-right: -14px;    
    }

    img {
        width: 100%;
        height: auto;
    }

    [class*="btn"] {
        width: 200px;
        margin: 13px 0px 12px 94px;
    }

    [class*="next-button"] {
        margin: auto;
    }

    [id*="correct"] {
        margin-left: -157px;
    }

    [class*="ok"] {
        margin-left: 0px;
        margin-top: -3px;
    }

    [class*="wolf-pic"] {
        margin-top: -28px;
    }

    [class*="navbox"] {
        margin-left: 152px;
    }

}